.form, .search {

	p.form_title {
		font-size: 1.25rem;
		font-weight: bold;
		margin-bottom: 10px;
	}

	.actions {
		flex: 0 0 auto;
		display: flex;
		padding: 8px 0;
		align-items: center;
		justify-content: flex-end;

		button {
			margin-left: 10px;
		}
	}
}

.results {

	td[class*="field_"] {
		background-color: #ffffff;
	}

	td.actions {
		background-color: #ffffff;

		button {
			margin: 5px;
			padding: 0;

			i.open {
				color: #28c128;
			}
		}
	}

	tfoot {

		tr {
			background-color: #eeeeee;
		}
	}

	th {
		background-color: #eaeaea;
	}

	tr.action_row {
		background-color: #f3f3f3;
	}

	div[class*="node_"] {

		input {
			background-color: #ffffff;
		}
	}

	label[class*="node_"] {

		svg {
			background-color: #ffffff;
		}
	}
}

.nodeArray, .nodeHash {
	background: transparent;
	border-color: rgba(0, 0, 0, 0.23);
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	margin: 0;
	padding: 25px 8px 8px 8px;
	position: relative;

	.legend {
		background-color: #fff;
		color: rgba(0, 0, 0, 0.54);
		font-family: "Roboto", "Helvetica", "Arial", sans-serif;
		font-size: 1rem;
		font-weight: 400;
		left: 0;
		letter-spacing: 0.00938em;
		line-height: 1;
		padding: 0 5px;
		pointer-events: none;
		position: absolute;
		top: 0;
		transform: translate(14px, -6px) scale(0.75);
		transform-origin: top left;
		z-index: 1;
	}

	.data {
		.MuiInputBase-root {
			width: 100%;
		}
	}
}

.nodeParent {

	.MuiFormControl-root {
		width: 100%;
	}
}

.selectSearchType {
	height: 26px;
	width: 100%;

	select {
		padding-bottom: 0;
		padding-top: 0;
	}
}

.selectSearchEmpty {
	height: 26px;
}
